# Dict

In [16]:
# 创建
friends = {'tom' : '111-222-333', 'jerry' : '666-33-111'}
# 添加 : dictionary_name['newkey'] = 'newvalue'
friends['bob'] = '888-999-666'
friends

{'bob': '888-999-666', 'jerry': '666-33-111', 'tom': '111-222-333'}

In [3]:
# append dict to a dict: update
a = {'A': 1, 'B': 2, 'C': 3}
b = {'D': 4, 'E': 5}
a.update(b)
a

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [4]:
# 空
dict_emp = {}

In [5]:
# get value
friends['tom']

'111-222-333'

In [6]:
# loop
for key in friends:
    print(key, ': ', friends[key])

jerry :  666-33-111
bob :  888-999-666
tom :  111-222-333

In [9]:
# 索引
exDict = {'Jack':15, 'Bob':22, 'Alice':12, 'Kevin':17}
exDict['Jack']

15

In [10]:
# 通过key放入数据
exDict = {'Jack':15, 'Bob':22, 'Alice':12, 'Kevin':17}
exDict['Tim'] = 14
print(exDict)

{'Tim': 14, 'Alice': 12, 'Kevin': 17, 'Jack': 15, 'Bob': 22}

In [11]:
 #重新赋值
exDict['Tim'] = 15
print(exDict)

{'Tim': 15, 'Alice': 12, 'Kevin': 17, 'Jack': 15, 'Bob': 22}

In [13]:
# 删除元素
del exDict['Tim']
print(exDict)

{'Alice': 12, 'Kevin': 17, 'Jack': 15, 'Bob': 22}

In [14]:
# 删除一个key，对应的value也会被删除
exDict = {'Jack':15, 'Bob':22, 'Alice':12, 'Kevin':17}
exDict.pop('Kevin')
print(exDict)

{'Alice': 12, 'Jack': 15, 'Bob': 22}

In [15]:
# 赋多值
exdict = {'Jack':[15,'blonde'], 'Bob':[22,'brown'], 'Alice':[12,'black'], 'Kevin':[17,'red']}
print(exdict['Jack'][1])

blonde

In [40]:
# 通过 in 判断key是否存在
exDict = {'Jack':15, 'Bob':22, 'Alice':12, 'Kevin':17}
'Thomas' in exDict

False

In [41]:
# 如果key不存在，可以返回None，或者自己指定的value
exDict.get('Thomas', 31)

31

In [1]:
# 创建dict + 添加元素
d = {}
d['A'] = 'aa'
d

{'A': 'aa'}

In [2]:
import random
def rand_attr(no_attr, no_employee):
    d = {}
    for i in range(1, no_attr + 1):
        key = 'Attr_' + str(i)
        value = 'EPL' + str(i) + '_' + str(random.randint(1, no_employee))
        d[key] = value
    return d
rand_attr(5,10)

{'Attr_1': 'EPL1_1',
 'Attr_2': 'EPL2_4',
 'Attr_3': 'EPL3_5',
 'Attr_4': 'EPL4_2',
 'Attr_5': 'EPL5_10'}

# Set

### set和dict类似，也是一组key的集合，但不存储value。
### 由于key不能重复，所以在set中没有重复的key。

In [50]:
# 创建一个set需要提供一个list作为输入集合
s = set([1, 2, 3])
print(s)

# 重复元素在set中自动被过滤
s = set([1, 1, 2, 2, 3, 3])
print(s)

# 添加元素
s.add(4)
print(s)
 
# 删除元素
s.remove(1)
print(s)

# 交集
s1 = set([1, 2, 3])
s2 = set([2, 3, 4])
print(s1 & s2)

# 并集
print(s1 | s2)

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4}
{2, 3, 4}
{2, 3}
{1, 2, 3, 4}

# List

In [53]:
classmates = ['Michael', 'Bob', 'Tracy']
# 元素个数
print(len(classmates))

# 添加元素
classmates.append('Adam')
print(classmates)

# 添加元素到指定位置
classmates.insert(1,'Jack')
print(classmates)

# 删除末尾元素
classmates.pop()
print(classmates)

# 重新赋值给索引
classmates[1] = 'Sarah'
print(classmates)

# list元素数据类型也可不同
L = ['Apple', 123, True]
print(L)

# list元素也可以是另一个list
s = ['python', 'java', ['asp', 'php'], 'scheme']
print(s,len(s))

# 排列
a = ['c', 'b', 'a']
b = [3,5,1,2]
a.sort()
b.sort()
print(a,b)

3
['Michael', 'Bob', 'Tracy', 'Adam']
['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']
['Michael', 'Jack', 'Bob', 'Tracy']
['Michael', 'Sarah', 'Bob', 'Tracy']
['Apple', 123, True]
['python', 'java', ['asp', 'php'], 'scheme'] 4
['a', 'b', 'c'] [1, 2, 3, 5]

### List Indexing

In [14]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[6:])
print(a[:-1])
print(a[0:5:2])
print(a[4:0:-1])
print(a[::-1])

[7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5]
[5, 4, 3, 2]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
# 统计某个元素在列表中出现的次数
l = [1,3,5,7]
l2 = [1,2,3,4,4]
l2.count(4)

2

In [6]:
# 从列表中找出某个值第一个匹配项的索引位置
l2.index(4)

3

In [9]:
# 反向列表中元素
l.reverse()
l

[7, 5, 3, 1]

In [17]:
# 删除重复元素
l1 = ['b','c','d','b','c','a','a']
l2 = list(set(l1))
print(l2)

['b', 'a', 'd', 'c']

# Tuple : 元组 (一旦初始化就不能修改)

In [27]:
classmates = ('Michael', 'Bob', 'Tracy')
# 它没有append()，insert()这样的方法
# 获取元素
print(classmates[0])

# 定义一个tuple
t = (1,2)
print(t)

# 定义一个空tuple
t = ()
print(t)

# 定义只有一个元素的tuple需要用逗号来消除歧义
t = (1,)
print(t)

Michael
(1, 2)
()
(1,)